<div class = "single-post">
    <ng-container  *ngIf="post  && post.date && post.text">

      {{post.id}}
  <hr>
  {{  post.date | date:'EEEE, MMMM d, y аt h:mm'}}
  <hr>
  <img [src]="post.photo" height="200" *ngIf="post.photo" >
  <hr>
  {{post.text}}
  <hr>
  <ul>

    <li *ngFor="let comment  of comments" >
       says:
      <hr>
      {{comment.text}}
      <hr>
    </li>

  </ul>
  <hr>
  <input type="text" [(ngModel)]="text">
  <input type="button" (click)="onUpload()" value="add your comment">

    </ng-container>
</div>


